/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 5px;
  padding: 5px;

  color: #535c69;
  font-family: 'Roboto';
  font-size: 14px;
  min-height: 400px;
  min-width: 1500px;
}
